   
    <ion-tab-bar slot="bottom" class="navbar">
      <ion-tab-button (click) = "goToProfile()" class="button" >
        <ion-icon name="person-outline" class="icon"></ion-icon>
        <ion-label class="label">Your Profile</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToSearchList()" class="button" >
        <ion-icon name="search-outline" class="icon"></ion-icon>
        <ion-label class="label">Search</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToHome()" class="button">
        <ion-icon name="home-outline" class="icon"></ion-icon>
        <ion-label class="label">Home</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToSignIn()" class="button" >
        <ion-icon name="log-in-outline" class="icon"></ion-icon>
        <ion-label class="label">Sign In</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToHome()" class="button" >
        <ion-icon name="log-out-outline" class="icon"></ion-icon>
        <ion-label class="label">LogOut</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  

  
 
