   
    <ion-tab-bar slot="bottom" class="navbar">
      <ion-tab-button (click) = "goToHome()" class="button">
        <ion-icon name="home-outline" class="icon"></ion-icon>
        <ion-label class="label">Home</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToPlaces()" class="button" >
        <ion-icon name="airplane-outline" class="icon"></ion-icon>
        <ion-label class="label">Places</ion-label>
      </ion-tab-button>
      <ion-tab-button (click) = "goToPlaces()" class="button" >
        <ion-icon name="airplane-outline" class="icon"></ion-icon>
        <ion-label class="label">Places</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  

  
 
