<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/movies"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" text-center>
    <ion-list>
      <ion-card *ngFor="let movie of movies">
        <img [src]="movie.Poster">
        <ion-card-content>
          <p>{{ movie.Title }}</p>
          <br>
          <p>Genre: {{movie.Genre}}</p>
          <br>
          <p>Released in: {{movie.Released}}</p>
          <br>
          <p>Rated: {{movie.Rated}}</p>
        </ion-card-content>
      </ion-card>
    </ion-list>
</ion-content>

