ion-title{
  text-align: center;
  color: red;
  margin-top: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1{
    font-weight: 700;
    font-size: 26px;
    color: white;
    margin-bottom: 15%;
  }
}

.form{
  margin-top: 15%;
  padding-left: 30px;
  padding-right: 30px;
}

ion-input{
  background: white;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: black;
  border-radius: 50px;
  text-align: center;
}

ion-button{
  margin-top: 35px;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  background: red;
  border-radius: 25px;
  color: black;

}

.register{
  background: none;
  color: red;
  font-size: 15px;
  margin-top: 5px;
}



