<ion-header>
  <ion-toolbar>
    <ion-title size = "large">
      RottenTomatoes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="header">
  <h1>Sign In to Your Account</h1>
</div>
<form class="form">
    <ion-input type="text" placeholder="Username"></ion-input>
    <ion-input type="password" placeholder="Password"></ion-input>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
      <ion-icon slot="start" name="log-in-outline"></ion-icon>
      Sign In
     </ion-button>
     <ion-button class="register" (click)="goToSignUp()" expand="block" fill="clear" shape="round">
      Sign Up
     </ion-button> 

     <div class="social"> <ion-button color="none" (click)="onClick()">
      <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
    </ion-button>
    <ion-button  color="none"(click)="onClick()">
     <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
   </ion-button>
   <ion-button color="none"(click)="onClick()">
     <ion-icon slot="icon-only" name="logo-reddit"></ion-icon>
   </ion-button>
   </div> 
    
    

</form>
</ion-content>



 

 



